{% extends 'base.html' %}

{% block content %}

<div class="col-lg-4">
  <div class="callout callout-success">
    <h5>Письмо с инструкциями по восстановлению пароля отправлено</h5>
    <p>Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.</p>
    <p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</p>
    <p>После получения пароля Вы можете войти на <a class="text-primary" href=" {% url 'login' %}">Вход в систему</a></p>
  </div>
</div>
{% endblock %}
