<form id="form_contragent_id"  method="post" action="/counterparty/{{ action_name }}">
  {% csrf_token %}
  <input type="hidden"  id="form_id" value="form_contragent_id">
  <input type="hidden" name="is_btn_save" value="{{is_btn_save}}">
  {{ counterparty_form.user.as_hidden }}
  {% include 'Identification_data.html' %}
  {% include 'contacts.html' %}
  {% include 'bank_details.html' %}
</form>
<script type="text/javascript">
function ReplaceName(old_str, new_str)
{
  var regex = /"(.*?)"/g;
  var str =  old_str.match(regex);
  return old_str.replace(str, '"' + new_str + '"');
}

$(document).ready(function () {
  var is_btn_save = $('input[name=is_btn_save]').val();
  var name = $('#id_counterparty-name').val();

  if(is_btn_save==1){
    $('form').find('input,select').each(function() {
      if($(this).prop('required')){
        if($(this).val() == ''){
            $(this).addClass('is-invalid');
        }
      }
    });
  }

  $('form').find('input,select').change(function(){
    if($(this).prop('required')){
      if($(this).val()){
        $(this).next().hide();
        $(this).removeClass('is-invalid');
      }else{
        $(this).next().show();
        $(this).addClass('is-invalid');
      }
    }
  });

  $('#id_counterparty-name').keyup( function() {
    var short_name = $('#id_counterparty-short_name').val();
    var full_name = $('#id_counterparty-full_name').val();

    if(short_name){
      var new_short_name = ReplaceName(short_name, $(this).val());
      var new_full_name = ReplaceName(full_name, $(this).val());
      $('#id_counterparty-short_name').val(new_short_name);
      $('#id_counterparty-full_name').val(new_full_name);
    }
  });

  $('#id_counterparty-opf').change(function(){
    var opf_id = $(this).val();
    if(opf_id != ''){
      var csrf_token = $('input[name=csrfmiddlewaretoken]').val();
      var name = $('#id_counterparty-name').val();

      $.post( "{% url 'counterparty:json_opfs' %}", { 'csrfmiddlewaretoken': csrf_token, 'opf_id': opf_id }, function( data ) {

        if(opf_id != 1){
          $('#id_counterparty-short_name').prop('readonly', true);
          $('#id_counterparty-full_name').prop('readonly', true);
        }else{
          $('#id_counterparty-short_name').prop('readonly', false);
          $('#id_counterparty-full_name').prop('readonly', false);
        }
        $('#id_counterparty-short_name').val(data.name + ' "' + name +'"');
        $('#id_counterparty-full_name').val(data.full_name + ' "' + name +'"');

      }, "json");
    }
  });
});
</script>
