{% extends 'backend/base.html' %}

{% block create_new %}
  <div class="container-fluid p-2 bg-secondary text-white">
    <i class="material-icons openModal" title="Создвть новый контрагент" data-link="/counterparty/form_create" style="cursor:pointer;color:#fdf001">&#xe146;</i>
  </div>
{% endblock %}

{% block search %}

{% endblock %}

{% block content %}

{% csrf_token %}

<div class="container-fluid">
  <p class="h3">Контрагенты</p>

  <form method="get">
    <div class="alert alert-border-gray">
      <div class="row"> 
        <div class="col-2"> 
        <div class="form-group">
          <label for="search-name">Наименование:</label>
           <input type="text" class="form-control" placeholder="Наименование" value="{{request.GET.name}}" name="name">
        </div>
        <div class="form-group">
          <label for="search-group">Группа:</label>
          <select class="form-control" name="group">
            <option value="">---------</option>
            {% for group in groups %}
              <option value="{{ group.id }}" {% if group.id|slugify == request.GET.group %}selected="selected"{% endif %}>{{ group.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-2"> 
        <div class="form-group">
          <label for="search-inn">ИНН:</label>
          <input type="text" class="form-control" placeholder="ИНН" value="{{request.GET.inn}}" name="inn">
        </div>
        <div class="form-group">
          <label for="search-kpp">КПП:</label>
          <input type="text" class="form-control" placeholder="КПП" value="{{request.GET.kpp}}" name="kpp">
        </div>
      </div>
      </div>
      <button type="submit" class="btn btn-black">Поиск</button>
      <button type="button" class="btn btn-black" onclick="location.href='/'">Отмена</button>
    </div>
  </form>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-yellow">
        <tr>
          <th>...</th>
          <th>№</th>
          <th>Куратор</th>
          <th>Сокрашенное наименование</th>
          <th>Группа</th>
          <th>ИНН</th>
          <th>КПП</th>
          <th>Статус</th>
        </tr>
      </thead>
      <tbody class="tbody-white">
    {% if counterparties %}
      {% for counterparty in counterparties %}
        <tr>
          <td>
            <i class="material-icons openModal"  title="Редактировать" style="color:green;cursor:pointer;" data-link="/counterparty/form_edit/{{ counterparty.id }}">&#xe3c9;</i>
            <i class="material-icons Delete" title="Удалить" style="color:red;cursor:pointer;" data-link="/counterparty/delete/{{ counterparty.id }}">&#xe872;</i>
          </td>
          <td>{{ counterparty.id }}</td>
          <td>{{ counterparty.user.last_name }} {{ counterparty.user.first_name }}</td>
          <td><a href="javascript:void(0);" class="openModal" data-link="/counterparty/form_edit/{{ counterparty.id }}">{{ counterparty.short_name }}</a></td>
          <td>{{ counterparty.group.name }}</td>
          <td>{{ counterparty.inn }}</td>
          <td>{{ counterparty.kpp }}</td>
          <td></td>
        </tr>
      {% endfor %}
    {% endif %}
      </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </span>
    </div>

  </div>  
</div>

{% include 'modal.html' %}

{% endblock %}
