<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Система бюджетирования</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"><strong>CRM</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/counterparty">Контрагент</a>
            </li>
        </ul>
        <span class="navbar-text">
            {{ request.user.last_name }} {{ request.user.first_name }}&nbsp;|&nbsp;
        </span>
        <span class="navbar-text">
            <a  href="{% url 'common:logout' %}">Выход</a>
        </span>
    </nav>
    {% block create_new %}
    {% endblock%}
    <div class="main_container">
        {% block breadcrumb %}
        {% endblock %}

        {% block search %}
        {% endblock%}

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
